*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#141414;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:black;
}

.logo{
    width:150px;
}

.back-btn,
.logout-btn{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-left:10px;
    background:red;
    color:white;
    font-size:15px;
}

.back-btn:hover,
.logout-btn:hover{
    background:#b30000;
}

.title{
    margin:30px;
    font-size:32px;
}

.movie-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:25px;
    padding:30px;
}

.movie-card{
    transition:0.3s;
    cursor:pointer;
}

.movie-card:hover{
    transform:scale(1.08);
}

.movie-card img{
    width:100%;
    border-radius:10px;
}

.movie-card h3{
    margin-top:10px;
    font-size:16px;
    text-align:center;
}

.empty-message{
    text-align:center;
    font-size:22px;
    color:#aaa;
    margin-top:80px;
}
.remove-btn{

    width:100%;
    margin-top:10px;
    padding:10px;

    border:none;

    background:#e50914;

    color:white;

    border-radius:6px;

    cursor:pointer;

    transition:.3s;

}

.remove-btn:hover{

    background:#b20710;

}