*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#000;
color:white;
}

.background{

height:100vh;

background:
linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
url("../images/hero.jpg");

background-size:cover;
background-position:center;

}

nav{

padding:25px 60px;

}

.logo{

width:170px;

}

.signup-box{

width:430px;

background:rgba(0,0,0,.78);

padding:50px;

margin:auto;

margin-top:30px;

border-radius:8px;

}

.signup-box h1{

margin-bottom:30px;

}

.signup-box input{

width:100%;

padding:16px;

margin-bottom:18px;

background:#333;

border:none;

border-radius:5px;

color:white;

font-size:16px;

}

.signup-box button{

width:100%;

padding:16px;

background:#e50914;

border:none;

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

border-radius:5px;

transition:.3s;

}

.signup-box button:hover{

background:#c11119;

}

.password-box{

position:relative;

}

#togglePassword{

position:absolute;

right:15px;

top:15px;

cursor:pointer;

font-size:22px;

}

#message{

margin-top:15px;

font-size:15px;

}

.login-link{

margin-top:30px;

color:#aaa;

}

.login-link a{

color:white;

text-decoration:none;

font-weight:bold;

}